name: Continuous Integration
on: [push]

jobs:

  runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

  dotnet:
    # Build the C# code
    name: Build
    run: dotnet build

    # Run the C# tests in the DotnetTemplate.Web.Tests project
    name: Test
    run: dotnet test

  typescript:

    # install dependencies and then build the TypeScript code.
    name: Install
    run: cd DotnetTemplate.Web & npm install

    # install dependencies that will strictly follow the versions listed in package-lock.json
    name: Build
    run: npm ci 

    # run the TypeScript tests in DotnetTemplate.Web/Scripts/spec inside the DotnetTemplate.Web folder
    name: Test
    run: cd DotnetTemplate.Web & npm t


    # run linting on the TypeScript code inside the DotnetTemplate.Web folder
    name: Test
    run: cd DotnetTemplate.Web & npm run lint